:host {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "project project"
        "project project";
    padding: 10px 25px 10px 25px;
}

:host > * {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

app-project-panel {
    grid-area: project;
}
