<mat-card appearance="outlined" class="main-card">
    <mat-card-header>
        <mat-card-title>Objective</mat-card-title>
        <mat-card-subtitle>
            <p>
            The Paragraphs module in Drupal provides editors with a component driven architecture for building pages. 
            Morpht has been developing Paragraph approaches to site building since 2015. This case study captures some 
            of the content from a Drupal 7 "Paragraphs Demo" site which was built to showcase what could be done with Paragraphs.
        </p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container">
        <mat-card class="input-card">
            <mat-card-header>
                <mat-card-subtitle>
                    Input
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>
                            Algorithm Selection
                        </mat-label>
                        <mat-select [(value)]="selectedAlgorithm" (selectionChange)="selectedAlgorithmChanged($event.value.id)">
                            @for (algorithm of algorithms; track algorithm) {
                                <mat-option [value]="algorithm">{{algorithm.label}}</mat-option>
                            }
                          </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            File Selection
                        </mat-label>
                        <mat-select [(value)]="selectedGraph"  [disabled]="selectedAlgorithm == null">
                            @for (graph of graphs; track graph) {
                                <mat-option [value]="graph">{{graph.label}}</mat-option>
                            }
                          </mat-select>
                    </mat-form-field>
                    <mat-divider *ngIf="selectedGraph?.id === 'input'" style="width: 100%; margin-bottom: 20px;"/>
                    <mat-form-field *ngIf="selectedGraph?.id === 'input'">
                        <textarea matInput type="text" placeholder=">" [(ngModel)]="textareaInputValue"></textarea>
                    </mat-form-field>


                    <div class="visual-controls">
                        <label>Visualization Controls</label>
                          @for (control of visualizationControls; track control) {
                            <mat-checkbox (change)="visualizationCheckboxChanged(control.id, $event.checked)">{{control.label}}</mat-checkbox>
                          }
                    </div>
                </mat-card-content>

        </mat-card>
        <mat-card class="output-card">
            <mat-card-header>
                <mat-card-subtitle>
                Output
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="output-content">
                <mat-form-field *ngIf="tasks$ | async as tasks">
                    <mat-label>
                        Task Selection
                    </mat-label>
                    <mat-select [(value)]="selectedTask" (selectionChange)="runTest()">
                        @for (task of tasks; track task) {
                            <mat-option [value]="task">{{task.algorithm.label}} - {{task.graph.label}}</mat-option>
                        }
                      </mat-select>
                </mat-form-field>
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Animation Panel</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="animation-conetent">
                        <mat-spinner *ngIf="selectedTask?.isAnimationLoading"></mat-spinner>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Final Output</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="visualization-conetent">
                        <mat-spinner *ngIf="selectedTask?.isVisualizationLoading"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button style="width: 50%;" [disabled]="selectedAlgorithm == null || selectedGraph == null" color="primary" (click)="run()">Run</button>
        <button mat-raised-button style="width: 50%;" color="primary" (click)="runTest()">Run test</button>
    </mat-card-actions>
  </mat-card>